.header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
}

.logo {
  width: 100px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  color: orangered;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items ul {
  display: flex;
}

.nav-items > ul > li:hover {
  color: orangered;
}

.search {
  padding: 10px;
}

.res-card {
  width: 250px;
  padding: 5px;
  height: auto;
}

.ress-card {
  width: 250px;
  padding: 5px;
  height: auto;
}
.ress-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}

.filter {
  display: flex;
}

.filter-btn {
  cursor: pointer;
  margin: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  height: 400px;
  width: 200px;
  background-color: #f0f0f0;
  margin: 20px;
}

.login {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 500;
}

.search-box {
  border: 1px solid black;
  margin-right: 4px;
}
